main.about-page {
    max-width: 40rem;
}

.about-page p {
    font-size: 1.19rem;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 2.1rem;
    text-align: justify;
}

@media (max-width: 600px) {
    main.about-page {
        max-width: 20rem;
    }
}
