.project-section {
    background: #202022;
    border-radius: 0.7rem;
    padding: 2.2rem 2.2rem 1.7rem 2.2rem;
    margin-bottom: 2.7rem;
    margin-top: 0.7rem;
}

.project-header-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
    color: #F5F5F7;
}

.project-desc {
    font-size: 1rem;
    color: #F5F5F7;
    margin-bottom: 2.0rem;
    margin-top: 0.2rem;
}

.project-desc ul {
    margin-bottom: 1.2em;
    margin-top: 0.7em;
    padding-left: 1.3em;
}

.project-desc ul li {
    margin-bottom: 0.7em;
}

.tech-stack {
    color: #F5F5F7;
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem 0.7rem;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.3rem;
}

.tech-icon {
    width: auto;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .project-header-row {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .tech-stack {
        justify-content: flex-start;
    }
}

.screenshots {
    display: flex;
    overflow-x: auto;
    gap: 1.2rem;
    padding-bottom: 0.7rem;
    scrollbar-color: #6B6B6B #2D2D2D;
}

.screenshots:hover {
    scrollbar-color: #939393 #2D2D2D;
}

.screenshots img {
    max-height: 260px;
    border-radius: 8px;
    background: #18181A;
    object-fit: contain;
    outline: none;
}

.screenshots::-webkit-scrollbar {
    height: 10px;
}

.screenshots::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
}

.screenshots::-webkit-scrollbar-track {
    background: #18181A;
}
