.project-link-btn {
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-left: 0.55rem;
    font-size: 1rem;
    margin-right: 0.7rem;
}
.project-link-btn.iOS {
    color: #2897FF;
}
.project-link-btn.Android {
    color: #3DDC84;
}
.project-link-btn:hover, .project-link-btn:focus {
    text-decoration: underline;
}
