.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.85);
    align-items: center;
    justify-content: center;
}
.modal.open {
    display: flex;
}
.modal-img {
    max-width: 90vw;
    max-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 4px 32px rgba(0,0,0,0.45);
}
.modal:after {
    content: '';
    display: block;
}
.modal-arrow {
    font-size: 2.0rem;
    margin: 10rem 0;
    padding: 0 10rem;
    color: #ffffff;
    background: none;
    border: none;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 2.0rem;
    color: #ffffff;
    cursor: pointer;
    z-index: 1001;
    background: none;
    border: none;
}

@media (max-width: 600px) {

    .modal-img {
        max-width: 70vw;
        max-height: 65vh;
    }
}