.nav-base.main {
    background: #18181A;
}
.nav-base.sub {
    background: #202022;
}
.nav-base {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.nav-base a {
    color: #BEBEBF;
    text-decoration: none;
    padding: 1rem 1.6rem;
    display: block;
    text-align: center;
    transition: background 0.2s, color 0.2s;
}

.nav-base a:hover,
.nav-base a.active {
    color: #E3E3E5;
}

.nav-base li {
    float: none;
    display: inline-block;
}

@media (max-width: 600px) {
    .nav-base {
        flex-direction: column;
        align-items: stretch;
    }

    .nav-base a {
        padding: 1rem;
        font-size: 1rem;
    }

    .nav-base li {
        display: block;
        width: 100%;
    }
}