.navbar ul {
    list-style: none;
    background: #18181A;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 73.5rem;
}
.navbar a {
    color: #BEBEBF;
    text-decoration: none;
    padding: 1rem 1.6rem;
    display: block;
    text-align: center;
    border-radius: 8px;
    transition: background 0.2s, color 0.2s;
}
.navbar a:hover {
    color: #E3E3E5;
}
.navbar li {
    float: none;
    display: inline-block;
}
.navbar a.active {
    color: #E3E3E5;
    background: #232326;
    border-radius: 8px;
}
